
body, #root {
  height: 100vh;
  background-color: tomato;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Chillow', sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;                                              
  font-size: x-large;
  height: 80px;
  background-color: tomato;
  box-shadow: 0px 2px 4px #A34235;
  color: black;
  text-align: center;
}

.footer {
  text-align: center;

}

.page-content {
  padding-top: 80px;
  list-style: none;
}

.page-content > li {
  margin: 15px 0;
}

.entry-container {
  background-color: white;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 5px #A34235;
  max-width: 80%;
  min-height: 70%;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.entry-container > img {
  height: auto;
  width: 100%;
}

.entry-container > a {
  padding-left: 15px;
  align-items: center;
  text-decoration: none;
  color: white;
}


.content {
  flex: 1;
  font-family: 'Inter';
  margin: auto;
  max-width: 70%;
  padding: 30px;
}

span {
  background-color: tomato;
}

.content > h2{ 
  color: white;
  font-family: 'Secular One', sans-serif;
}
